node_modules/
.DS_Store
*.log
*.env
*.pyc
__pycache__/
*.pdb
*.egg-info/
*.egg
*.dist-info/
*.zip
*.tar.gz
*.tgz
*.swp
*.swo
*.bak
*.tmp
*.out
*.class
*.jar
*.war
*.dll
*.exe
*.so
*.dSYM
*.tgz
*.gz
*.zip
*.7z
*.rar
*.tar
